@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  max-width: 100vh;
  max-height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  flex-wrap: wrap;
}

.DivTitulo {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.DivLogo {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.ImagenWhatsApp {
  position: fixed; /*Significa que el botón de WhatsApp siempre va a estar fija.*/
  right: 20px;
  bottom: 110px;
  width: 50px;
  height: 50px;
  z-index: 100; /*Determina la posición hacia el frente de los demás elementos de la landing.*/
  top: 550px;
}

.BottonDeBuscarProyecto {
  display: flex;
  justify-content: right;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(0, 0, 0);
  margin-left: 10px;
}

.GaleriaDeFotos {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr); /* Ejemplo de 3 columnas */
  grid-gap: 20px; /* Espacio entre las imágenes */
}

.TitIndex {
  color: rgb(255, 255, 255);
}

.FotoPiolaFondo {
  background-image: url(../assets/img/foto_piola.png);
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.contenedor-cards {
  margin-left: 140px;
  opacity: 90%;
}

/* Estilos para pantallas pequeñas */
@media screen and (min-width: 0px) and (max-width: 601px) {
  .contenedor {
    background-size: cover;
    height: 100vh;
  }
  .FotoPiolaFondo {
    background-image: url(../assets/img/fondo_piola_web.jpg);
    object-fit: cover;
  }
  .DivTitulo {
    position: flex;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .TitIndex {
    color: black;
  }
  .DivLogo {
    position: flex;
    top: 30%;
    left: 50%;
  }
  .navbar.navbar-8 .navbar-toggler-icon {
    background-image: url("https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0");
  }
  .contenedor-cards {
    margin-left: 14px;
    opacity: 90%;
  }
}
/* Estilos para pantallas medianas */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .contenedor {
    background-size: cover;
    height: 100vh;
  }
  .FotoPiolaFondo {
    background-image: url(../assets/img/fondo_piola_web.jpg);
    object-fit: cover;
  }
  .DivTitulo {
    position: flex;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .TitIndex {
    color: black;
  }
  .DivLogo {
    position: flex;
    top: 30%;
    left: 50%;
  }
  .navbar.navbar-8 .navbar-toggler-icon {
    background-image: url("https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0");
  }
  .contenedor-cards {
    margin-left: 14px;
    opacity: 90%;
  }
}
.footer {
  font-family: italic;
  background-color: background-color rgb(26, 25, 25);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  max-width: 100vh;
  max-height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  flex-wrap: wrap;
}

.DivTitulo {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.DivLogo {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.ImagenWhatsApp {
  position: fixed; /*Significa que el botón de WhatsApp siempre va a estar fijo.*/
  right: 20px;
  bottom: 110px;
  width: 50px;
  height: 50px;
  z-index: 100; /*Determina la posición hacia el frente de los demás elementos de la landing.*/
  top: 550px;
}

.BottonDeBuscarProyecto {
  display: flex;
  justify-content: right;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  margin-left: 10px;
}

.GaleriaDeFotos {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  grid-gap: 20px; /* Espacio entre las imágenes */
}

.TitIndex {
  color: rgb(255, 255, 255);
}

.FotoPiolaFondo {
  background-image: url(../assets/img/foto_piola.png);
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.cardgrandequienessomos {
  display: inline-block;
  width: 500px;
  height: 300px;
  border-radius: 5%;
  position: absolute;
  top: 100px;
  left: 100px;
  box-shadow: 0 5px 5px rgba(17, 17, 16, 0.5);
}

.cardgrandequehacemos {
  display: inline-block;
  width: 500px;
  height: 300px;
  border-radius: 5%;
  position: absolute;
  top: 100px;
  left: 700px;
  box-shadow: 0 5px 5px rgba(17, 17, 16, 0.5);
}

.contenedor-cards {
  margin-left: 140px;
  opacity: 90%;
}

.cards {
  max-width: 13rem;
  max-height: 20rem;
  margin-right: 15px;
  border-radius: 15%;
  box-shadow: 0 5px 5px rgba(17, 17, 16, 0.5);
}

.bodyquehacemos {
  background-image: linear-gradient(to right bottom, #e9e97e, #feca69, #ffa96a, #ff887a, #ff6e92, #ff688d, #ff6188, #ff5a83, #ff7058, #ff922a, #e0b600, #abd610);
  height: 100vh;
}

.body {
  background-image: linear-gradient(to right bottom, #e9e97e, #feca69, #ffa96a, #ff887a, #ff6e92, #ff688d, #ff6188, #ff5a83, #ff7058, #ff922a, #e0b600, #abd610);
}

.bodyIndex {
  height: 100vh;
  width: 205vh;
}

.PiolaLogo {
  display: inline-block;
  padding: 2px 50px;
  position: sticky;
}

.contacto .FormularioDeContacto {
  display: block;
  position: left;
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.IgLogo {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(0, 0, 0);
  display: flex;
  margin-left: 90px;
  margin-right: 50px;
  margin-top: 350px;
}

.h2grande {
  margin-left: 10px;
}

.h2quehacemos {
  margin-right: 30px;
  margin-left: 30px;
  color: rgb(0, 0, 0);
}

.tipografiaquehacemos {
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.imagengaleria {
  border-radius: 15%;
}

/* Estilos para pantallas pequeñas */
@media screen and (min-width: 0px) and (max-width: 601px) {
  .contenedor {
    background-size: cover;
    height: 100vh;
  }
  .FotoPiolaFondo {
    background-image: url(../assets/img/fondo_piola_web.jpg);
    background-size: contain;
    object-fit: cover;
  }
  .DivTitulo {
    position: flex;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .TitIndex {
    color: black;
  }
  .DivLogo {
    position: flex;
    top: 30%;
    left: 50%;
  }
  .navbar.navbar-8 .navbar-toggler-icon {
    background-image: url("https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0");
  }
  .contenedor-cards {
    margin-left: 14px;
    opacity: 90%;
  }
  .bodyquehacemos {
    background-size: contain;
    background-position: center center;
    max-width: 100%;
    height: auto;
  }
  .cardgrandequehacemos {
    position: relative;
  }
  .cardgrandequehacemos .elemento1 {
    position: fixed;
  }
  .cardgrandequehacemos .elemento2 {
    position: absolute;
    padding: 10px;
    top: 100%;
  }
}
/* Estilos para pantallas medianas */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .contenedor {
    background-size: cover;
    height: 100vh;
  }
  .FotoPiolaFondo {
    background-image: url(../assets/img/fondo_piola_web.jpg);
    object-fit: cover;
  }
  .DivTitulo {
    position: flex;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .TitIndex {
    color: black;
  }
  .DivLogo {
    position: flex;
    top: 30%;
    left: 50%;
  }
  .navbar.navbar-8 .navbar-toggler-icon {
    background-image: url("https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0");
  }
  .contenedor-cards {
    margin-left: 14px;
    opacity: 90%;
  }
}/*# sourceMappingURL=style.css.map */