@import '../sass/variable';

.contenedor {
    max-width: 100vh;
    max-height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    flex-wrap: wrap;
    
    
  }

      .DivTitulo{
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
      }

      .DivLogo {
       position: absolute;
       top: 50%;
       left: 20%;
       transform: translate(-50%, -50%);

    }

      .ImagenWhatsApp{
        position: fixed; /*Significa que el botón de WhatsApp siempre va a estar fija.*/
        right: 20px;
        bottom: 110px;
        width: 50px;
        height: 50px;
        z-index: 100; /*Determina la posición hacia el frente de los demás elementos de la landing.*/
        top: 550px; 
      
         }

      .BottonDeBuscarProyecto{
        display: flex;
        justify-content:right;
        font-family: $tipografia-principal;
        color: $color-primario;
        margin-left: 10px;
         }

       .GaleriaDeFotos{
         display: flex;
         justify-content: center;
         grid-template-columns: repeat(3, 1fr); /* Ejemplo de 3 columnas */
         grid-gap: 20px; /* Espacio entre las imágenes */
        }


        .TitIndex {
           color: rgb(255, 255, 255);
        }
    

        .FotoPiolaFondo {
          background-image: url(../assets/img/foto_piola.png);
          background-size: contain;
          position: relative;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          opacity: 0.5;
        } 
        
        .contenedor-cards {
          margin-left: 140px;
          opacity: 90%;
          
      }


.ContenidoContacto{
  font-family: $tipografia-principal;
  color: $color-primario;
  
}

.error404{
  font-family: $tipografia-principal;
  color: $color-primario;
  margin-left: 30px;
  
}

        /* Estilos para pantallas pequeñas */
      @media screen and (min-width: 0px) and (max-width: 601px) {
        .contenedor{
          background-size: cover;
          height: 100vh;
      
      
         }
         
         .FotoPiolaFondo {
          background-image: url(../assets/img/fondo_piola_web.jpg);
          object-fit: cover;
      
         } 
      
         .DivTitulo{
          position: flex;
          top: 60%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          
         
        }
          .TitIndex {
              color: black;
          }
      
          .DivLogo {
              position: flex;
              top: 30%;
              left: 50%
              
        } 
      
        .navbar.navbar-8 .navbar-toggler-icon {
          background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
        }
  
        .contenedor-cards {
          margin-left: 14px;
          opacity: 90%;
          
      }
  

      }

 
 
        /* Estilos para pantallas medianas */
  @media screen and (min-width: 601px) and (max-width: 1024px) {
 
    .contenedor{
        background-size: cover;
        height: 100vh;
    
    
       }
       
       .FotoPiolaFondo {
        background-image: url(../assets/img/fondo_piola_web.jpg);
        object-fit: cover;
    
       } 
    
       .DivTitulo{
        position: flex;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        
       
      }
        .TitIndex {
            color: black;
        }
    
        .DivLogo {
            position: flex;
            top: 30%;
            left: 50%
            
      } 
    
      .navbar.navbar-8 .navbar-toggler-icon {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
      }

      .contenedor-cards {
        margin-left: 14px;
        opacity: 90%;
        
    }


  }
  